#layout-form-container {
    margin-bottom: 20px;
}

#layout-form-container label {
    margin: 15px 0 5px;
    font-weight: bold;
}

#layout-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#layout-form-container .input-group #type {
    width: 40%;
}

#layout-form-container .input-group #cpfCnpj {
    width: 60%;
}
