/* General */

* {
    font-family: 'Schibsted Grotesk';
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
}

main {
    padding-top: 100px;
}