/* navbar */

#navbar {
    justify-content: space-between;
    padding: 5px 10px;
}

#navbar img {
    width: 40px;
}

#navbar li {
    padding: 0 15px;
}
/* 
#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    color: #000000;
} */

.nav-link {
    background: 0 0;
    border: 0;
    border-radius: .25rem;
}

.nav-link.active {
    color: #fff;
    background-color: #0d6efd;
}