/* navbar */

#navbar {
    justify-content: space-between;
    background-color: #FFF;
    padding: 5px 10px;
}

#navbar img {
    width: 40px;
}

#navbar li {
    padding: 0 15px;
}

#navbar a {
    font-size: 14px;
    color: #757575;
}

#navbar a:hover {
    color: #000000;
}